
.container {
    border-radius: 15px;
    background-color: rgba(65, 110, 240, 0.31);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 1em;
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btnClose {
    height: 0;
    position: relative;
}

.btnClose button {
    position: absolute;
    right: -.7em;
    top: 0.2em;
    background: #eee;
    text-align: center;
    border: none;
    width: 2em;
    height: 2em;
    font-weight: bold;
    border-radius: 50%;
}

.btnClose button:hover {
    cursor: pointer;
    color: red;
}

